/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.project-title {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

.centralized {
    margin: 0 auto;
    max-width: 700px;
}

.box-shadow {
    box-shadow: 0px 3px 3px 1px #7575758f;
}

.project-homepage-img{
    height: 250px;
    width: 100%
}

.m-container{
    margin-top: 120px;
    padding-bottom:200px;
}

.participation {
    border-radius: 10px;
    padding-top: 3px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    width: fit-content;
    margin: 0 5px;
    background: #1c8a48;
    color: white;
    margin-bottom: 10px;
}

.btn-custom-primary,
.btn-custom-primary:active,
.btn-custom-primary:enabled{
    background: #bd5d38;
    color: white;
    border: none;
}

.btn-custom-secondary,
.btn-custom-secondary:active,
.btn-custom-secondary:enabled {
    background: #163da8;
    color: white;
    border: none;
}

.project-description{
    text-align:justify;
}

.project-technologies-used{
    font-weight:600;
}

font {
    font-family: var(--bs-body-font-family) !important;
}

@media screen and (max-width: 400px) {
    .centralized {
        max-width: 90%;
    }

    .project-homepage-img {
        height: 150px;
    }

    .m-container{
        margin-top: 80px;
    }
}
