<section class="resume-section" id="projects">
    <div class="resume-section-content">
        <h2 class="mb-5">
            Projects
        </h2>


        <div class="row mb-1">
            <h3 class="mb-0 d-inline-block col-6">
                Trustank
            </h3>
            <span class="col-6">
                <span class="mx-1" style="float:right">
                    <a target="_blank" href="https://trustank.com" class="btn btn-primary btn-custom-primary">Preview</a>
                </span>
                <span class="mx-1" style="float:right">
                    @*<a target="_blank" href="https://" class="btn btn-primary btn-custom-secondary">Code</a>*@
                </span>
            </span>
        </div>

        <div>
            <div class="row">
                <div class="col-md-8">
                    <img src="https://drive.google.com/uc?id=1zrIIIz1qIteUn02yJw_CYvMReDpnnpxn" class=" project-homepage-img" />
                </div>
                <div class="col-md-4">
                    <p class="project-description"> A company and business review application. Previous customers of a business are able to leave reviews ranging from very poor to excellent. These reviews enable other customers to make their decisions when approaching a business for service.</p>
                    <p class="project-description">The application provides a quotation feature where users can describe a particular service they wish to know more information about. The company receivees this quotation and replies the user the full details of the service or product.</p>
                </div>
                <div class="project-technologies-used">
                    Technologies used: C#, Html, Css, ASP.NET Core 3.1, JavaScript, Jquery, REST API
                </div>
            </div>
        </div>
        <div class="participation">
            Team project
        </div>
        <hr class="my-4" />


        <div class="row mb-1">
            <h3 class="mb-0 d-inline-block col-6">
                Online school
            </h3>
            <span class="col-6">
                <span class="mx-1" style="float:right">
                    <a target="_blank" href="https://trustank.com" class="btn btn-primary btn-custom-primary">Preview</a>
                </span>
                <span class="mx-1" style="float:right">
                    @*<a target="_blank" href="https://" class="btn btn-primary btn-custom-secondary">Code</a>*@
                </span>
            </span>
        </div>

        <div>
            <div class="row">
                <div class="col-md-8">
                    <img src="https://drive.google.com/uc?id=1POuGnR8-gZQzFZUEcbcLHF-cKP8flEFN" class=" project-homepage-img" />
                </div>
                <p class="col-md-4 project-description">
                    A company and business review application. Previous customers of a business are able to leave reviews ranging from very poor to excellent. These reviews enable other customers to make their decisions when approaching a business for service.
                </p>
                <div class="project-technologies-used">
                    Technologies used: C#, Html, Css, ASP.NET Core 3.1, JavaScript, Jquery, REST API
                </div>
            </div>
        </div>
        <div class="participation">
            Individual project
        </div>
        <hr class="my-4" />



        <div class="row mb-1">
            <h3 class="mb-0 d-inline-block col-6">
                zero Excusas
            </h3>
            <span class="col-6">
                <span class="mx-1" style="float:right">
                    <a target="_blank" href="https://zeroexcusas.com" class="btn btn-primary btn-custom-primary">Preview</a>
                </span>
                <span class="mx-1" style="float:right">
                    @*<a target="_blank" href="https://" class="btn btn-primary btn-custom-secondary">Code</a>*@
                </span>
            </span>
        </div>

        <div>
            <div class="row">
                <div class="col-md-8">
                    <img src="https://drive.google.com/uc?id=1aHqFOpN_oQ185gqWtzwxRBh9j_0PSdoT" class=" project-homepage-img" />
                </div>
                <p class="col-md-4 project-description">
                    A diet and fitness application that equips its users with the facilities to create meal plans for their desired growth. Users are also provided the feature to follow specific training plans that focuses on increasing their muscles and other body parts.
                </p>
                <div class="project-technologies-used">
                    Technologies used: C#, Html, Css, ASP.NET, JavaScript, Jquery
                </div>
            </div>
        </div>
        <div class="participation">
            Team project
        </div>
        <hr class="my-4" />

        <div class="row mb-1">
            <h3 class="mb-0 d-inline-block col-6">
                House of D Queens
            </h3>
            <span class="col-6">
                <span class="mx-1" style="float:right">
                    <a target="_blank" href="https://trustank.com" class="btn btn-primary btn-custom-primary">Preview</a>
                </span>
                <span class="mx-1" style="float:right">
                    @*<a target="_blank" href="https://" class="btn btn-primary btn-custom-secondary">Code</a>*@
                </span>
            </span>
        </div>

        <div>
            <div class="row">
                <div class="col-md-8">
                    <img src="https://drive.google.com/uc?id=1POuGnR8-gZQzFZUEcbcLHF-cKP8flEFN" class=" project-homepage-img" />
                </div>
                <p class="col-md-4 project-description">
                    A company and business review application. Previous customers of a business are able to leave reviews ranging from very poor to excellent. These reviews enable other customers to make their decisions when approaching a business for service.
                </p>
                <div class="project-technologies-used">
                    Technologies used: C#, Html, Css, ASP.NET Core 3.1, JavaScript, Jquery, REST API
                </div>
            </div>
        </div>
        <div class="participation">
            Individual project
        </div>
        <hr class="my-4" />


        <div class="row mb-1">
            <h3 class="mb-0 d-inline-block col-6">
                Eco cards
            </h3>
            <span class="col-6">
                <span class="mx-1" style="float:right">
                    <a target="_blank" href="https://zeroexcusas.com" class="btn btn-primary btn-custom-primary">Preview</a>
                </span>
                <span class="mx-1" style="float:right">
                    @*<a target="_blank" href="https://" class="btn btn-primary btn-custom-secondary">Code</a>*@
                </span>
            </span>
        </div>

        <div>
            <div class="row">
                <div class="col-md-8">
                    <img src="https://drive.google.com/uc?id=1kcz5or-_ZS-4r2THK2s5D4tFurv5eTIN" class=" project-homepage-img" />
                </div>
                <p class="col-md-4 project-description">
                    A web application where users are able to send holiday or greeting cards to their friends and family around the world via email or text messages.
                </p>
                <div class="project-technologies-used">
                    Technologies used: C#, Html, Css, ASP.NET, JavaScript, Jquery
                </div>
            </div>
        </div>
        <div class="participation">
            Team project
        </div>
        <hr class="my-4" />

        <div class="row mb-1">
            <h3 class="mb-0 d-inline-block col-6">
                Tek Gold Consult
            </h3>
            <span class="col-6">
                <span class="mx-1" style="float:right">
                    <a target="_blank" href="https://zeroexcusas.com" class="btn btn-primary btn-custom-primary">Preview</a>
                </span>
                <span class="mx-1" style="float:right">
                    @*<a target="_blank" href="https://" class="btn btn-primary btn-custom-secondary">Code</a>*@
                </span>
            </span>
        </div>

        <div>
            <div class="row">
                <div class="col-md-8">
                    <img src="https://drive.google.com/uc?id=1bwi6stfJZUVglj4ssZTSvQEW6AV3NImA" class=" project-homepage-img" />
                </div>
                <p class="col-md-4 project-description">
                    This is an application useful to jobseekers. Job seekers submit their information such as work experience, technical skills etc and for a small fee, they get a well written and detailed cv/resume that increases their chances of securing their next job or interview.
                </p>
                <div class="project-technologies-used">
                    Technologies used: C#, Html, Css, ASP.NET, JavaScript, Jquery
                </div>
            </div>
        </div>
        <div class="participation">
            Team project
        </div>

        <div class="row mb-1">
            <h3 class="mb-0 d-inline-block col-6">
                Dara Laundry
            </h3>
            <span class="col-6">
                <span class="mx-1" style="float:right">
                    @*<a target="_blank" href="https://zeroexcusas.com" class="btn btn-primary btn-custom-primary">Preview</a>*@
                </span>
                <span class="mx-1" style="float:right">
                    @*<a target="_blank" href="https://" class="btn btn-primary btn-custom-secondary">Code</a>*@
                </span>
            </span>
        </div>

        <div>
            <div class="row">
                <div class="col-md-8">
                    <img src="https://drive.google.com/uc?id=1Yx_IcRNXe0ZqgWKLQHcsknm3KN0LmGzP" class=" project-homepage-img" />
                </div>
                <p class="col-md-4 project-description">
                    This is a desktop application that runs on windows. The application is a laundry service management application. Services and day to day operations of the laundry business are managed with the application. The application is an offline application as it uses the MsSQL pre-installed on the running system.
                </p>
                <div class="project-technologies-used">
                    Technologies used: C#, Windows Form
                </div>
            </div>
        </div>
        <div class="participation">
            Team project
        </div>

        <hr class="my-4" />

    </div>
</section>